/* LOGIN PAGE */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e0e7ff;
    font-family: Arial, sans-serif;
}

.login-container {
    background: #fff;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

#loginForm input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#loginForm button {
    width: 95%;
    padding: 12px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

#loginForm button:hover {
    background: #3730a3;
}

.role-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    font-size: 16px;
}

.role-section label {
    cursor: pointer;
}

.role-section input {
    margin-right: 5px;
}
/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 100%;
    background: #4f46e5;
    padding-top: 20px;
    color: white;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 25px;
}

.sidebar a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    margin: 6px 0;
}

.sidebar a:hover,
.sidebar a.active {
    background: #3730a3;
    border-radius: 5px;
}

.logout-btn {
    width: 80%;
    margin: 20px;
    padding: 10px;
    background: #ef4444;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #b91c1c;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 240px;
    padding: 25px;
}

.header h1 {
    margin-bottom: 20px;
}

/* CARDS */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 220px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    color: #4f46e5;
}

.card p {
    font-size: 20px;
    font-weight: bold;
}
